[submodule "api"]
	path = api
	url = https://github.com/istio/api.git
[submodule "deps/googleapis"]
	path = deps/googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule "deps/envoy"]
	path = deps/envoy
	url = https://github.com/envoyproxy/envoy.git
